*~
*.bak
*.bkp
*.log

*xOLD*

*output*

#*impl*
*gwsynthesis*
*pnr*
*temp*
*.gprj.user

*csi_eth.cache*
*csi_eth.hw*
*csi_eth.ip_user_files*
*csi_eth.runs*
*csi_eth.sim*

*\#*\#
*\#*
/5.sw/qt/QtUdp/release/*.obj
/5.sw/qt/QtUdp/release/moc_*
/5.sw/qt/QtUdp/debug
